.containerForm {
    background-color: rgb(40, 40, 40);
   display: flex;
   flex-direction: column;
   gap: 2rem;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   border-radius: 2rem;
   
}

.containerForm .containerTitle {
    color: white;
    font-family: "roboto";
    font-size: 2rem;
    font-weight: bold;
}

.containerForm .containerDesc{
    color: #BDBDBD;
    font-family: "roboto";
    font-size: 1rem;
    font-weight: bold;
}

.containerForm .containerInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerForm .containerInput .containerTitle {
    color: white;
    font-family: "roboto";
    font-size: 2rem;
    font-weight: bold;
}

.containerForm .containerInput input{
    height: 2.6rem;
    width: 15rem;
    border-radius: 0.6rem;
    text-align: center;
     font-family: "roboto";
    font-size: 1.5rem;
}

.containerForm .containerNivel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.containerForm .containerNivel span{
    color: white;
    font-family: "roboto";
    font-size: 2rem;
    font-weight: bold;
}

.containerForm .containerNivel .containerSelect{
    height: 2rem;
    width: 20rem;
    text-align: center;
    border-radius: 0.6rem;
    font-family: "roboto";
    font-size: 1.7rem;
}

.containerForm button{
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    font-family: "roboto";
    font-weight: bold;
    font-size: 1.7rem;
}

.containerForm button:active{
    transform: scale(0.98);
}

.containerForm button:hover{
    cursor: pointer;
}

.cardDeuBom .parteDeCima{
    background-color: rgb(23, 207, 50);
    padding: 1rem;
}

.cardDeuBom span{
    font-size: 3rem;
    font-weight: bold;
}

.cardDeuBom img{
    width: 20rem;
    height: 20rem;
}


.cardDeuRuim {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;

}

.cardDeuRuim .parteDeCima{
    background-color: rgb(207, 23, 23);
    padding: 1rem;
}

.cardDeuRuim span{
    font-size: 3rem;
    font-weight: bold;
}

.cardDeuRuim img{
    width: 20rem;
    height: 20rem;
}

.mensagemErroClass{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6;
    height: 2rem;
    width: 15rem;
}