.importanceContainer .cardTopic4 {
    background-color: rgb(40, 40, 40);
    width: 70%;
    height: 120px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    border-radius: 30px;
}

.importanceContainer .cardTopic4 .imgContainer4 {
    background-color: #CE003E;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.importanceContainer .cardTopic4 .imgContainer4 img{
    height: 60px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.importanceContainer .cardTopic4 .textContainer4 {  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.importanceContainer .cardTopic4 .textContainer4 .title4{
    font-family: "roboto";
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.importanceContainer .cardTopic4 .textContainer4 .text4{
    font-family: "roboto";
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    color: #BDBDBD;
    font-size: 30px;
    text-align: right;
}
